<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% if site.plugins.jekyll-seo == nil %}
    <title>{{ page.title }} - {{ site.title }}</title>

    {% if page.description %}
      <meta name="Description" content="{{ page.description }}">
    {% endif %}
  {% endif %}

  <link rel="shortcut icon" href="{{ 'favicon.png' | absolute_url }}" type="image/png">

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs.css' | absolute_url }}">

  {% if site.ga_tracking != nil %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "{{ site.ga_tracking }}");
    </script>

  {% endif %}

  {% if site.search_enabled != false %}
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | absolute_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  {% include head_custom.html %}

</head>
