<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% if site.plugins.jekyll-seo == nil %}
    <title>{{ page.title }} - {{ site.title }}</title>

    {% if page.description %}
      <meta name="Description" content="{{ page.description }}">
    {% endif %}
  {% endif %}

  <link rel="shortcut icon" href="{{ 'favicon.png' | absolute_url }}" type="image/png">

  {% comment %} <link rel="stylesheet" href="{{ '/assets/css/just-the-docs.css' | absolute_url }}"> {% endcomment %}
  <link rel="stylesheet" href="{{ '/assets/css/inegalitesdesalaires.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/search-results.css' | absolute_url }}">

  {% if site.search_enabled != false %}
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | absolute_url }}"></script>
  {% endif %}


  <script type="text/javascript" src="{{ '/assets/js/inegalitesdesalaires.js' | absolute_url }}"></script>
  {% comment %}
    <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | absolute_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endcomment %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% seo %}

    <!-- Custom Google Font for the website -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- Required by Bootstrap 4 -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font Awesome Free
    <script src="https://kit.fontawesome.com/4babb14f55.js" crossorigin="anonymous"></script>-->
</head>
