
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f1f6fa;">
    <div class="container">
        <a class="navbar-brand" href="/">Inégalités de salaires.fr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% link categorie_dossiers.md %}">Dossiers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% link categorie_archives.md %}">Archives</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% link contact/contact.md %}">Contact et mentions légales</a>
                        <a class="dropdown-item" href="{% link contact/contribuer.md %}">Contribuer ou soumettre un article</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% link contact/remerciements.md %}">Licenses</a>
                    </div>
                </li>
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                {% endcomment %}
            </ul>

            {% if include.searchbar %}

                <form class="form-inline my-lg-0">
                    <input class="form-control mr-sm-2 js-search-input" type="search" placeholder="Rechercher" aria-label="Rechercher">
                    {% comment %} <svg width="14" height="14" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg> {% endcomment %}
                    <div class="js-search-results search-results-wrap" style="position:relative"></div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
<!--
<div class="container">
    <div class="js-search-results search-results-wrap" style="top:80px"></div>
</div>-->
