

/*************** TYPOGRAPHY ***************/

body.ids {
    font-family: Barlow, sans-serif;
}

.ids h1 {
    font-weight: 100;
}

/*************** TOP NAVIGATION  ***************/

.ids .navbar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
}

.ids .jumbotron {
    background-color: #f1f6fa;
    padding: 10rem 0;
}

.navbar-brand {
    padding-right: 30px;
    margin-right: 10px;
    border-right: 1px solid #d1d6db;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-transform: uppercase;
}

#main-search {
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 100px;
    border-width: 2px;
    border-color: #e2e7ec;
    margin-left: auto;
    margin-right: auto;

}

#main-search.form-control:focus {
    box-shadow: none;
}

/*************** LEFT NAVIGATION  ***************/
.main-content,
.main-content .container,
.main-content .container .row {
    min-height: 500px;
}

.left-menu {
    border-right: 1px solid #eaeff4;
    min-height: 500px;
    margin-top: -2rem;
    padding-top: 2rem;
}

.left-menu ul {
    padding-left: 0;
}

.left-menu li.navigation-list-item {
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
    list-style: none;
    border-bottom: 1px dashed #eaeff4;
    font-size: 19px;
}

.left-menu li.navigation-list-item > a {
    color: rgba(0, 0, 0, 0.6);
}


.left-menu li.navigation-list-subitem {
    padding-left: 20px;
    font-size: 13px;
    list-style: none;
}

.left-menu li.navigation-list-subitem > a {
    color: rgba(0, 0, 0, 0.6);
}

.left-menu li.navigation-list-item.active > a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}

.left-menu li.navigation-list-subitem.active {
    font-weight: bold;
}

/************* HOMEPAGE *************/

.topics-wrapper.border-style {
    border: 3px solid #e1e8ee;
}
.topics-wrapper {
    border-radius: 5px;
    margin-bottom: 40px;
}

.topics-wrapper.border-style h3 {
    padding: 20px 40px 0;
}
.topics-wrapper h3 {
    padding: 0;
}
.topics-wrapper.border-style .topics-list {
    padding: 10px 40px;
}
.topics-wrapper .topics-list {
    padding: 20px 0;
}
.topics-wrapper.border-style .topics-list li {
    position: relative;
    padding-left: 5px;
}
.topics-wrapper .topics-list li {
    list-style: none;
    margin-bottom: 15px;
    line-height: 1.3;
}
.topics-wrapper.border-style .topics-meta {
    background: #f5f8fa;
    padding: 7px 10px;
    text-align: center;
    border-top: 1px solid #e1e8ee;
}
.topics-wrapper .topics-meta {
    padding: 7px 0;
    margin: 0;
    border-top: 1px solid #e1e8ee;
}
.topics-wrapper .topics-meta li {
    list-style: none;
    display: inline-block;
    color: #5e6977;
    font-size: 14px;
    font-weight: 300;
    padding-right: 10px;
}

/************* Content *************/

.archive-metadata {
    border: 1px solid gray;
}

.archive-metadata th {
    background-color: #f7f7f7;
}
.archive-metadata td,
.archive-metadata th {
    padding: 10px;
    border: 1px solid #ddd;
}

.archive-image img {
    max-width: 100px;
    max-height: 100px;
}

.archive-image:hover img {
    filter: brightness(50%);
}

.ids-truncation-explanation {
    font-size: .9em;
    color: #aaa;
}

img {
    max-width: 100%;
    height: auto;
}

td > ul {
    margin-bottom: 0;
}

body blockquote {
    padding-left: 1rem;
    border-left: 1px solid #ccc;
    font-style: italic;
    color: #666;
}