/*
// Search input and autocomplete
*/

.search {
    position: relative;
    z-index: 99;
    flex-grow: 1;
    height: 100%;
    margin-bottom: .75rem;

    /*
      @include mq(md) {
        margin-bottom: 0;
      }*/
}

.search-input-wrap {
    display: flex;
    height: 100%;
    /*padding: $sp-2;
    background-color: $search-background-color;
    border-radius: $border-radius;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    /*
      @include mq(md) {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        background-color: $body-background-color;
        border-radius: 0;
        box-shadow: none;
      }*/
}

.search-input {
    align-self: center;
    width: 100%;
    /*padding-top: $sp-1;
    padding-bottom: $sp-1;
    background-color: $search-background-color;*/
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    order: 2;
    /* @include fs-4;*/
    /*
      &:focus {
        outline: 0;
        box-shadow: none;

        + .search-icon {
          fill: $link-color;
        }
      }

      @include mq(md) {
        background-color: $body-background-color;
        @include fs-3;
      }*/
}

.search-icon {
    align-self: center;
    margin-right: .5rem;
    fill: #333; /*$grey-dk-000;*/
    order: 1;
}

.search-results-superwrap {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.search-results-wrap {
    position: absolute;
    z-index: 100;
    display: none;
    /*width: 800px;*/
    /*max-width: 90%;*/
    background: white;
    /*background: $search-background-color;
    border-radius: $border-radius;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.search-results-wrap.active {
    display: block;
}
/*
  &.active {
    display: block;
  }

  @include mq(md) {
    width: $search-results-width;
  }*/

.search-results-list {
    padding-left: 0;
    margin-top: .25rem;
    margin-bottom: .25rem;
    list-style: none;
    /*
  @include fs-4;

  @include mq(md) {
    @include fs-3;
  }*/
}

.search-results-list-item {
    padding: 0;
    margin: 0;
}

.search-result {
    display: block;
    padding-top: .25rem;
    padding-right: .75rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    color: #0058cc;
    /*
      &:hover,
      &.active {
        background-color: $sidebar-color;
      }

      @include mq(md) {
        padding-right: $sp-4;
        padding-left: $sp-4;
      }*/
}
.search-result:hover,
.search-result.active {
    background-color: #f5f6fa;
}

.search-result-title {
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    display: inline-block;
    width: 40%;
    word-wrap: break-word;
    vertical-align: top;
}

.search-result-title-only {
    width: initial;
}

.search-result-rel-url {
    display: block;
    overflow: hidden;
    color: gray;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
@include fs-1;
}

.search-result-preview {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: .5rem; /*$sp-2;*/
    padding-bottom: .5rem; /*$sp-2;*/
    padding-left: 1rem; /*$sp-4;*/
    color: gray;
    border-left: 1px solid #eeebee;
    font-size: .8rem;
    /*@include fs-2;

    @include mq(sm) {
      display: inline-block;
      width: 60%;
      vertical-align: top;
    }*/
}
.search-result-highlight {
    font-weight: bold;
    color: #0058cc;
}
