---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: "fr-FR" }}">
{% include ids_head_bootstrap4.html %}

<body class="ids">


{% comment %}
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Barre de menus
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
{% endcomment %}

{% include ids_navbar.html searchbar=layout.searchbar %}


{% comment %}
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Bloc d'en-tête de page
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
{% endcomment %}
<header class="jumbotron" style="background-color: #f1f6fa">
    <div class="container text-center">
        <h1>Inégalités de salaires</h1>
        <p class="lead">{% if layout.lead %}{{ layout.lead }}{% else %}{{ page.lead }}{% endif %}</p>
        {% if layout.searchbar == false or page.searchbar == false %}
        <form class="form-inline">
            <input id="main-search" class="form-control w-75 js-main-content js-search-input" type="search" placeholder="Écrivez un argument" aria-label="Search">
        </form>
        {% endif %}
    </div>
    {% if layout.searchbar == false or page.searchbar == false %}
    <div class="search-results-superwrap" style="position:relative">
        <div class="js-search-results search-results-wrap" style="width:inherit"></div>
    </div>
    {% endif %}
</header>

<main class="main-content">
    {{ content }}
</main>


{% comment %}
{% if site.footer_content != nil %}
<hr>
<footer role="contentinfo">
    <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
</footer>
{% endif %}
{% endcomment %}

<div class="container">

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-6">
                inégalités de salaires.fr
                <small class="d-block mb-3 text-muted">© 2020</small>
                <small class="d-block mb-3 text-muted">
                Si vous aimez ce site, sachez que nous n'avons ni cookies ni statistiques. Pour nous dire que
                    vous l'utilisez encore, envoyez-moi un pouce bleu par email à
                    <a href="mailto:contact@inegalitesdesalaires.fr?subject=Pouce+bleu+!">contact@inegalitesdesalaires.fr</a>
                </small>
            </div>
            <div class="col-3">
                <h5>Contact</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% link contact/contact.md %}">Mentions légales</a></li>
                    <li><a class="text-muted" href="{% link contact/contribuer.md %}">Comment contribuer</a></li>
                    <li><a class="text-muted" href="{% link contact/remerciements.md %}">Licences</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Ressources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://inegalites.fr">Observatoire des inégalités</a></li>
                    <li><a class="text-muted" href="https://www.education.gouv.fr">Ministère de l'éducation</a></li>
                    <li><a class="text-muted" href="http://femmes.gouv.fr">femmes.gouv.fr</a></li>
                    <li><a class="text-muted" href="http://hommes.gouv.fr" title="Si vous ne trouvez pas cette page, c'est normal">hommes.gouv.fr</a></li>
                </ul>
            </div><!--
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>-->
        </div>
    </footer>
</div>

</body>
</html>
