---
layout: ids_base
---

    <div class="container">
        <div class="row">

            {% comment %}
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Sidebar for the navigation ( ≠ navbar, which is at the top)
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            {% endcomment %}
            <div class="col-md-4 col-xl-3 left-menu">
                <ul class="navigation-list">
                    <li class="navigation-list-item">
                        <a href="/dossiers">Dossiers <i class="nav-angle"></i></a>
                        <ul>
                            {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
                            {%- for node in pages_list -%}
                                {% if node.layout == "ids_dossier" and node.niveau == "beginner" %}
                                    <li class="navigation-list-subitem{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url | absolute_url }}">{% if node.short_title %}{{ node.short_title }}{% else %}{{ node.title }}{% endif %}</a></li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </li>

                    {% if page.niveau == "medium" or page.niveau == "mra" %}
                    <li class="navigation-list-item">
                        <a href="/dossiers">Dossiers avancés<i class="nav-angle"></i></a>
                        <ul>
                            {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
                            {%- for node in pages_list -%}
                                {% if node.layout == "ids_dossier" and node.niveau == "medium" %}
                                    <li class="navigation-list-subitem{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url | absolute_url }}">{% if node.short_title %}{{ node.short_title }}{% else %}{{ node.title }}{% endif %}</a></li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </li>
                    {% endif %}

                    {% if page.niveau == "mra" %}
                    <li class="navigation-list-item">
                        <a href="/dossiers">Autres dossiers<i class="nav-angle"></i></a>
                        <ul>
                            {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
                            {%- for node in pages_list -%}
                                {% if node.layout == "ids_dossier" and node.niveau == "mra" %}
                                    <li class="navigation-list-subitem{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url | absolute_url }}">{% if node.short_title %}{{ node.short_title }}{% else %}{{ node.title }}{% endif %}</a></li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </li>
                    {% endif %}

                    <li class="navigation-list-item{% if page.layout == 'ids_archive' or page.url == '/archives' %} active{% endif %}">
                        <a href="/archives">Archives de documents <i class="nav-angle"></i></a>
                    </li>
                </ul>
            </div>


            {% comment %}
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Content
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            {% endcomment %}
            <div class="col-md-7 col-xl-8 ml-md-auto py-8">

                <div id="main-content" class="page-content" role="main">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>