---
##### Quelles sont les métadonnées attendues pour un document d'archive ?
#
# - layout: ids_archive
# - type: archive_page      |
# - type: archive_video     | => L'un ou l'autre, c'est le type d'objet archivé
# - type: archive_tweet     |
# - archive_page_url          |
# -                           | => C'est le lien vers l'original.
# - archive_tweet_id          |
# - indexation_auteur            |
# - indexation_page              | => Les références pour grouper par site -> page -> date (ou version)
# - indexation_version           |
# - indexation_autorite          | institutionnel, academique, amateur, media - le niveau d'autorité détermine combien on le met en avant sur le site
# - image: nom du fichier contenant l'image, de préférence ayant le même nom que la page
# - hide_content: true si le contenu est sous copyright. Ça nous permet d'en avoir une copie dans le site, mais sans la publier.
#
######

layout: ids_default
searchbar: true
lead: Archives des documents cités
---


<a href="/">Accueil</a>
&nbsp;&gt;&nbsp;
<a href="{% link categorie_archives.md %}">Archives</a>
&nbsp;&gt;&nbsp;
{% if page.indexation_auteur %}
    {{ page.indexation_auteur }}
    &nbsp;&gt;&nbsp;
{% endif %}
<a href="{{ page.url }}">{{ page.title | truncate: 50, "..." }}</a>

<h2>{{ page.title }}</h2>

<div class="alert alert-warning" role="alert">
    {%- assign liste_archives = site.html_pages | where: "layout", "ids_archive" | where: "indexation_autorite", "institutionnel" -%}
    {%- assign liste_medias = site.html_pages | where: "layout", "ids_archive" | where: "indexation_autorite", "media" -%}
    {%- assign liste_academique = site.html_pages | where: "layout", "ids_archive" | where: "indexation_autorite", "academique" -%}
    {%- assign liste_dossiers = site.html_pages | where: "layout", "ids_dossier" -%}
    {{ liste_archives.size }} documents d'archives institutionnelles, {{ liste_medias.size }} médias, {{ liste_academique.size }} papiers de recherche
    et {{ liste_dossiers.size }} dossiers thématiques pour l'instant :
    <a href="{% link contact/contribuer.md %}">Nous avons besoin de votre travail manuel !</a>
</div>


<table class="archive-metadata">
    {% if page.type == "archive_page" %}
        <tr><th>Type</th><td>Archive page web</td></tr>
    {% elsif page.type =="archive_video" %}
        <tr><th>Type</th><td>Vidéo</td></tr>
    {% else %}
        <tr><th>Type</th><td>{{ page.type }}</td></tr>
    {% endif %}

    {% if page.indexation_auteur %}
        <tr><th>Site</th><td>{{ page.indexation_auteur }}</td></tr>
    {% endif %}

    {% if page.indexation_page %}
        <tr><th>Nom</th><td>{{ page.indexation_page }}</td></tr>
    {% endif %}

    {% if page.indexation_version %}
        {% comment %}
        <tr>
            <th>Date/Version</th>
            <td>{{ page.indexation_version }}</td>
        </tr>
        {% endcomment %}
        <tr>
            <th>Versions</th>
            <td>
                    {% assign page_versions = site.html_pages | where: "layout", "ids_archive" | where: "indexation_auteur", page.indexation_auteur | where: "indexation_page", page.indexation_page %}
                    {% for page_version in page_versions %}
                        {% if forloop.first %} {% else %} <br> {% endif %}
                        {% if page_version.indexation_version == page.indexation_version %}
                            {{ page_version.indexation_version }} (Celle-ci)
                        {% else %}
                            <a href="{{ page_version.url | absolute_url }}" class="navigation-list-link ">{{ page_version.indexation_version }}</a>
                        {% endif %}
                    {% endfor %}
            </td>
        </tr>
    {% endif %}

    {% if page.archive_page_url %}
        <tr>
            <th>URL</th>
            <td>
                <a href="{{ page.archive_page_url }}">{{ page.archive_page_url }}</a>
                {% if page.pdf %}
                (<a href="{{ page.pdf }}">Cached version</a>)
                {% endif %}
            </td>
        </tr>
    {% else %}
        {% if page.pdf %}
            <tr>
                <th>URL de secours</th>
                <td>
                    {% if page.pdf %}
                    (<a href="{{ page.pdf }}">Cached version</a>)
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endif %}

    {% if page.youtube %}
        <tr>
            <th>URL</th>
            <td><a href="{{ page.archive_youtube_url }}">https://youtu.be/{{ page.youtube }}</a></td>
        </tr>
        <tr>
            <th>Vidéo</th>
            <td>{% youtube page.youtube %}</td>
        </tr>
    {% endif %}

    {% if page.image %}
        <tr>
            <th>Image de l'archive</th>
            <td>
                <a class="archive-image" href="{{ page.image }}">
                    <img src="{{ page.image }}"/>
                </a>
            </td>
        </tr>
    {% endif %}

    {% if page.other %}
        {% for item in page.other %}
            <tr>
                <th>{{ item[0] }}</th>
                <td>{{ item[1] }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

<br><br>

{% assign sections = content | split: "==MARQUEUR==" %}


<h2>Points majeurs du document</h2>

{{ sections[1] }}


<h2>Texte original</h2>


{{ sections[2] | truncate: 200, "..." }}
<p class="ids-truncation-explanation">Le texte a été tronqué pour respecter les droits d'auteurs. Vous avez le lien pour accéder au site d'origine.</p>